
<h1><u>Welcome Admin</u></h1>

<br><%= link_to "Manage Or View Users", "users#index" %>

<br><br><%= link_to "Manage Or View Venue", venues_path %>

<%# 
<%= button_to "logout", logout_path, method: :delete %> 