
<div class="d-flex align_items-center justify-content-center">
    <h1>Welcome Admin</h1>
</div>
<br>
<br>
<div class="d-flex align_items-center justify-content-center">
<%= button_to "Manage Users", "users#index", method: :get, class: "btn btn-primary"%>
</div>

<br>
<br>

<div class="d-flex align_items-center justify-content-center">
<%= button_to "Manage Venues", venues_path, method: :get, class: "btn btn-primary"%>
</div>

<br>
<br>

<div class="d-flex align_items-center justify-content-center">
<%= button_to "Manage Bookings", books_path, method: :get, class: "btn btn-primary"%>
</div>
<%# 
<%= button_to "logout", logout_path, method: :delete %> 