<div class="d-flex align_items-center justify-content-center">
    <h1>About us</h1><br>
    </div>
<div class="d-flex align_items-center justify-content-center">
    <br><p>Online slot booking site for CSED meetings is a streamlined automatic system for booking venues in CSE Dept. of NIT Calicut. </p>
</div>
<div class="d-flex align_items-center justify-content-center">
    <br><p>Prepared by,<br>Anagha Chand R (M210712CS)<br>Vaghela Keval Satishkumar (M210394CS)<br>Riya V Ramesh (M210711CS)<br>Shyam Mohan V M (M210137CS)</p>
</div>